<div class="footer__inner">
    <div class="row">
        <div class="footer__contact">
            <h2 class="en">Contact</h2>
            <p>saekiguchi@example.com</p>
            <p>123-456-7890</p>
        </div>
        <div class="footer__nav">
            <nav>
                <ul>
                    <li>
                        <a href="">ABOUT</a>
                    </li>
                    <li>
                        <a href="">NEWS</a>
                    </li>
                    <li>
                        <a href="">ACCESS</a>
                    </li>
                    <li>
                        <a href="">INSTAGRAM</a>
                    </li>
                    <li>
                        <a href="">ONLINE STORE</a>
                        <ul>
                            <li>
                                <a href="">PLATE</a>
                            </li>
                            <li>
                                <a href="">SILVERWARE</a>
                            </li>
                            <li>
                                <a href="">CUP/MUG</a>
                            </li>
                            <li>
                                <a href="">SPICE BOTTLE</a>
                            </li>
                            <li>
                                <a href="">CANISTER</a>
                            </li>
                            <li>
                                <a href="">OTHER</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="footer__note">
    <div class="row">
        <ul>
            <li>
                <a href="">特定商取引法に基づく表示</a>
            </li>
            <li>
                <a href="">プライバシーポリシー</a>
            </li>
        </ul>
        <span>Copyright © saekiguchi all rights reseved</span>
    </div>
</div>