<div class="index__map">
    <div class="row">
        <ul>
            <li>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.106653678365!2d135.49337031099424!3d34.702489783004424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e68d95e3a70b%3A0x1baec822e859c84a!2z5aSn6Ziq6aeF!5e0!3m2!1sja!2sjp!4v1733894088324!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h2 class="en">Tokyo Main Store</h2>
                <p>東京都千代田区丸の内1丁目</p>
                <p>10:00 - 20:00</p>
            </li>
            <li>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8278537120655!2d139.76454451103658!3d35.6812405298597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1733894105591!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h2 class="en">Osaka store</h2>
                <p>大阪府大阪市北区梅田3-1-1</p>
                <p>10:00 - 19:00</p>
            </li>
        </ul>
    </div>
</div>