<div class="index__mv">
        <div class="main_visual">
            <div class="item slick-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="/test_ec/html/user_data/assets/img/index/mv-01_sp.png">
                    <img src="/test_ec/html/user_data/assets/img/index/mv-01_pc.png" alt="">
                </picture>
            </div>
            <div class="item slick-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="/test_ec/html/user_data/assets/img/index/mv-02_sp.png">
                    <img src="/test_ec/html/user_data/assets/img/index/mv-02_pc.png" alt="">
                </picture>
            </div>
            <div class="item slick-slide">
                <picture>
                    <source media="(max-width: 768px)" srcset="/test_ec/html/user_data/assets/img/index/mv-03_sp.png">
                    <img src="/test_ec/html/user_data/assets/img/index/mv-03_pc.png" alt="">
                </picture>
            </div>
        </div>
    </div>