<div class="index__about">
    <div class="row">
        <a href="{{ url('about') }}">
            <h2 class="en">About Us</h2>
        </a>
        
    </div>
    <picture>
        <source media="(max-width: 768px)" srcset="/test_ec/html/user_data/assets/img/index/about_sp.png">
        <img src="/test_ec/html/user_data/assets/img/index/about_pc.png" alt="">
    </picture>
</div>